<!-- Modal help -->
<div class="modal fade" id="modalHelpProperty" tabindex="-1" role="dialog" aria-labelledby="modalHelpPropertyLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="modalHelpPropertyLabel">Lead Scoring <small>/ Perfil</small></h3>
      </div>
      <div class="modal-body">
        <p class="help-block">Grading your inbound leads ensures that the leads being passed from marketing to sales match your company’s ideal customer profile. Leads are automatically evaluated based on a number of implicit factors and assigned a letter grade (A - D).</p>
        <h4>Propriedade</h4>
        <p class="help-block">São as properidades que o Lead possui e que, de acordo com o que foi preenchido, devem determinar o quanto o Lead está pronto para Vendas.</p>
        <h4>Peso</h4>
        <p class="help-block">É o valor referente ao peso que a propriedade terá na definição da nota do perfil do Lead. Quanto maior o peso de uma propriedade, mais relevante ela é na nota final do perfil do Lead (A - D).</p>
        <p class="help-block">Protip: atribua valores baixos para o peso de propriedades com baixa incidência de preenchimento.</p>
        <h4>Termos de uma propriedade</h4>
        <p class="help-block">São os termos que definem o perfil do Lead. Escolha os termos mais comuns dentro da sua base de clientes e alinhe com Vendas quais os valores de cada termo.</p>
        <p class="help-block">Você pode atribuir um valor para o termo baseado também na sua taxa de conversão dentro da sua base de clientes.</p>
      </div>
      <div class="modal-body modal-info">
        <div class="alert alert-info">
          <h4>Exemplo:</h4>
          <p>Digamos que você possua 100 clientes e destes 100, 30 possuem a propriedade "cargo" com o termo "diretor" e 10 com o termo "CEO". São termos bastante comuns dentro de sua base (30% e 10%, respectivamente).</p>
          <p>Agora, analisando sua base inteira de Leads, digamos que a quantidade dos mesmo termos, "diretor" e "CEO", são de 10 mil e 1 mil respectivamente.</p>
          <p>Se calcularmos a taxa de conversão para cada um dos termos (dividindo a quantidade de Clientes pela de Leads e multiplicanto por 100), teremos 0,3% para "diretor" e 1% para "CEO".</p>
          <p>Este é um bom exemplo para mostrar que apesar do termo "diretor" ser o mais comum entre seus clientes, o termo "CEO" "vale" mais, pois possui uma eficácia de conversão maior.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
