<div class="panel-scoring">
  <!-- divisor -->
  <div class="row row-nogutter panel-leadscoring-scale guideline">
    <div class="col-xs-11 col-xs-offset-1">
      <div class="row row-nogutter">
        <div class="col-xs-3">
          <div class="quadrant quadrant-one">0</div>
        </div>
        <div class="col-xs-3">
          <div class="quadrant quadrant-two">1.500</div>
        </div>
        <div class="col-xs-3">
          <div class="quadrant quadrant-three">3.000</div>
        </div>
        <div class="col-xs-3">
          <div class="quadrant quadrant-four">4.500</div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIT A -->
  <div class="row row-nogutter panel-scoring-row fit-a">
    <div class="col-xs-1">
      <div class="fit-label">
        <span class="fit-a">A</fit>
      </div>
    </div>
    <div class="col-xs-11">
      <div class="row row-nogutter">
        <div class="col-xs-3" style="width:27%;">
          <div class="quadrant quadrant-one" data-toggle="tooltip" data-placement="top" title="8,9%"></div>
        </div>
        <div class="col-xs-3" style="width:7%;">
          <div class="quadrant quadrant-two" data-toggle="tooltip" data-placement="top" title="2,3%"></div>
        </div>
        <div class="col-xs-3" style="width:3%;">
          <div class="quadrant quadrant-three" data-toggle="tooltip" data-placement="top" title="1,0%"></div>
        </div>
        <div class="col-xs-3" style="width:8%;">
          <div class="quadrant quadrant-four" data-toggle="tooltip" data-placement="top" title="2,7%"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIT B -->
  <div class="row row-nogutter panel-scoring-row fit-b">
    <div class="col-xs-1">
      <div class="fit-label">
        <span class="fit-b">B</fit>
      </div>
    </div>
    <div class="col-xs-11">
      <div class="row row-nogutter">
        <div class="col-xs-3" style="width:37%;">
          <div class="quadrant quadrant-one" data-toggle="tooltip" data-placement="top" title="12,4%"></div>
        </div>
        <div class="col-xs-3" style="width:8%;">
          <div class="quadrant quadrant-two" data-toggle="tooltip" data-placement="top" title="2,6%"></div>
        </div>
        <div class="col-xs-3" style="width:2%;">
          <div class="quadrant quadrant-three" data-toggle="tooltip" data-placement="top" title="0,9%"></div>
        </div>
        <div class="col-xs-3" style="width:8%;">
          <div class="quadrant quadrant-four" data-toggle="tooltip" data-placement="top" title="2,6%"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIT C -->
  <div class="row row-nogutter panel-scoring-row fit-c">
    <div class="col-xs-1">
      <div class="fit-label">
        <span class="fit-c">C</fit>
      </div>
    </div>
    <div class="col-xs-11">
      <div class="row row-nogutter">
        <div class="col-xs-3" style="width:45%;">
          <div class="quadrant quadrant-one" data-toggle="tooltip" data-placement="top" title="15,0%"></div>
        </div>
        <div class="col-xs-3" style="width:20%;">
          <div class="quadrant quadrant-two" data-toggle="tooltip" data-placement="top" title="2,7%"></div>
        </div>
        <div class="col-xs-3" style="width:10%;">
          <div class="quadrant quadrant-three" data-toggle="tooltip" data-placement="top" title="2,7%"></div>
        </div>
        <div class="col-xs-3" style="width:25%;">
          <div class="quadrant quadrant-four" data-toggle="tooltip" data-placement="top" title="2,7%"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIT D -->
  <div class="row row-nogutter panel-scoring-row fit-d">
    <div class="col-xs-1">
      <div class="fit-label">
        <span class="fit-d">D</fit>
      </div>
    </div>
    <div class="col-xs-11">
      <div class="row row-nogutter">
        <div class="col-xs-3" style="width:56%;">
          <div class="quadrant quadrant-one" data-toggle="tooltip" data-placement="top" title="2,7%"></div>
        </div>
        <div class="col-xs-3" style="width:16%;">
          <div class="quadrant quadrant-two" data-toggle="tooltip" data-placement="top" title="2,7%"></div>
        </div>
        <div class="col-xs-3" style="width:7%;">
          <div class="quadrant quadrant-three" data-toggle="tooltip" data-placement="top" title="2,7%"></div>
        </div>
        <div class="col-xs-3" style="width:19%;">
          <div class="quadrant quadrant-four" data-toggle="tooltip" data-placement="top" title="2,7%"></div>
        </div>
      </div>
    </div>
  </div>
</div>
