<p>Distribuição dos <strong>Leads</strong> pelas segmentações do Lead Scoring</p>
<div class="panel-scoring general-stats">
  <!-- FIT A -->
  <div class="row grid20 row-nogutter panel-scoring-row fit-a">
    <div class="col-xs-4">
      <div class="fit-label">
        <div class="data-group score-stats fit-a">
          <div class="data-group-value size-plus">A</div>
          <div class="progress-group">
            <div class="data-group-value size-a">15.1%</div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="18%" aria-valuemin="0" aria-valuemax="100" style="width: 15.1%;"></div>
            </div>
            <div class="data-group-label">2.655 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-one">
        <div class="data-group score-stats fit-a">
          <div class="data-group-value size-plus">0 - 24</div>
          <div class="progress-group">
            <div class="data-group-value size-a">8<small>.94%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="8%" aria-valuemin="0" aria-valuemax="100" style="width: 8.94%;"></div>
            </div>
            <div class="data-group-label">1.573 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-two">
        <div class="data-group score-stats fit-a">
          <div class="data-group-value size-plus">25 - 49</div>
          <div class="progress-group">
            <div class="data-group-value size-a">2<small>.37%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="2%" aria-valuemin="0" aria-valuemax="100" style="width: 2.37%;"></div>
            </div>
            <div class="data-group-label">418 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-three">
        <div class="data-group score-stats fit-a">
          <div class="data-group-value size-plus">50 - 74</div>
          <div class="progress-group">
            <div class="data-group-value size-a">1<small>.05%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="1%" aria-valuemin="0" aria-valuemax="100" style="width: 1.05%;"></div>
            </div>
            <div class="data-group-label">185 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-four">
        <div class="data-group score-stats fit-a">
          <div class="data-group-value size-plus">75+</div>
          <div class="progress-group">
            <div class="data-group-value size-a">2<small>.73%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="2%" aria-valuemin="0" aria-valuemax="100" style="width: 2.73%;"></div>
            </div>
            <div class="data-group-label">481 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIT B -->
  <div class="row grid20 row-nogutter panel-scoring-row fit-b">
    <div class="col-xs-4">
      <div class="fit-label">
        <div class="data-group score-stats fit-b">
          <div class="data-group-value size-plus">B</div>
          <div class="progress-group">
            <div class="data-group-value size-a">18.6%</div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="18%" aria-valuemin="0" aria-valuemax="100" style="width: 18%;"></div>
            </div>
            <div class="data-group-label">3.276 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-one">
        <div class="data-group score-stats fit-b">
          <div class="data-group-value size-plus">0 - 24</div>
          <div class="progress-group">
            <div class="data-group-value size-a">12<small>.44%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="12%" aria-valuemin="0" aria-valuemax="100" style="width: 12.44%;"></div>
            </div>
            <div class="data-group-label">2.188 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-two">
        <div class="data-group score-stats fit-b">
          <div class="data-group-value size-plus">25 - 49</div>
          <div class="progress-group">
            <div class="data-group-value size-a">2<small>.62%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="2%" aria-valuemin="0" aria-valuemax="100" style="width: 2.62%;"></div>
            </div>
            <div class="data-group-label">462 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-three">
        <div class="data-group score-stats fit-b">
          <div class="data-group-value size-plus">50 - 74</div>
          <div class="progress-group">
            <div class="data-group-value size-a">0<small>.88%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="1%" aria-valuemin="0" aria-valuemax="100" style="width: 0.88%;"></div>
            </div>
            <div class="data-group-label">155 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-four">
        <div class="data-group score-stats fit-b">
          <div class="data-group-value size-plus">75+</div>
          <div class="progress-group">
            <div class="data-group-value size-a">2<small>.67%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="2.67%" aria-valuemin="0" aria-valuemax="100" style="width: 2.67%;"></div>
            </div>
            <div class="data-group-label">471 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIT C -->
  <div class="row grid20 row-nogutter panel-scoring-row fit-c">
    <div class="col-xs-4">
      <div class="fit-label">
        <div class="data-group score-stats fit-c">
          <div class="data-group-value size-plus">C</div>
          <div class="progress-group">
            <div class="data-group-value size-a">33.4%</div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="33%" aria-valuemin="0" aria-valuemax="100" style="width: 33.4%;"></div>
            </div>
            <div class="data-group-label">5.877 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-one">
        <div class="data-group score-stats fit-c">
          <div class="data-group-value size-plus">0 - 24</div>
          <div class="progress-group">
            <div class="data-group-value size-a">15<small>.07%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="15.07%" aria-valuemin="0" aria-valuemax="100" style="width: 15.07%;"></div>
            </div>
            <div class="data-group-label">2.651 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-two">
        <div class="data-group score-stats fit-c">
          <div class="data-group-value size-plus">25 - 49</div>
          <div class="progress-group">
            <div class="data-group-value size-a">6<small>.61%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="6.61%" aria-valuemin="0" aria-valuemax="100" style="width: 6.61%;"></div>
            </div>
            <div class="data-group-label">1.163 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-three">
        <div class="data-group score-stats fit-c">
          <div class="data-group-value size-plus">50 - 74</div>
          <div class="progress-group">
            <div class="data-group-value size-a">3<small>.30%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="3.30%" aria-valuemin="0" aria-valuemax="100" style="width: 3.30%;"></div>
            </div>
            <div class="data-group-label">581 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-four">
        <div class="data-group score-stats fit-c">
          <div class="data-group-value size-plus">75+</div>
          <div class="progress-group">
            <div class="data-group-value size-a">8<small>.42%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="8.42%" aria-valuemin="0" aria-valuemax="100" style="width: 8.42%;"></div>
            </div>
            <div class="data-group-label">1.482 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIT D -->
  <div class="row grid20 row-nogutter panel-scoring-row fit-d">
    <div class="col-xs-4">
      <div class="fit-label">
        <div class="data-group score-stats fit-d">
          <div class="data-group-value size-plus">D</div>
          <div class="progress-group">
            <div class="data-group-value size-a">32.9%</div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="33%" aria-valuemin="0" aria-valuemax="100" style="width: 32.9%;"></div>
            </div>
            <div class="data-group-label">5.778 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-one">
        <div class="data-group score-stats fit-d">
          <div class="data-group-value size-plus">0 - 24</div>
          <div class="progress-group">
            <div class="data-group-value size-a">18<small>.82%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="18.82%" aria-valuemin="0" aria-valuemax="100" style="width: 18.82%;"></div>
            </div>
            <div class="data-group-label">3.314 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-two">
        <div class="data-group score-stats fit-d">
          <div class="data-group-value size-plus">25 - 49</div>
          <div class="progress-group">
            <div class="data-group-value size-a">5<small>.43%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="5.43%" aria-valuemin="0" aria-valuemax="100" style="width: 5.43%;"></div>
            </div>
            <div class="data-group-label">955 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-three">
        <div class="data-group score-stats fit-d">
          <div class="data-group-value size-plus">50 - 74</div>
          <div class="progress-group">
            <div class="data-group-value size-a"><small>2.40%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="2.40%" aria-valuemin="0" aria-valuemax="100" style="width: 2.40%;"></div>
            </div>
            <div class="data-group-label">423 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="quadrant quadrant-four">
        <div class="data-group score-stats fit-d">
          <div class="data-group-value size-plus">75+</div>
          <div class="progress-group">
            <div class="data-group-value size-a">6<small>.19%</small></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="6.19%" aria-valuemin="0" aria-valuemax="100" style="width: 6.19%;"></div>
            </div>
            <div class="data-group-label">1.089 <small>Leads</small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
