<div class="row">
  <div class="col-xs-3">
    <p class="help-block">Grading your inbound leads ensures that the leads being passed from marketing to sales match your company’s ideal customer profile. Leads are automatically evaluated based on a number of implicit factors and assigned a letter grade (A - D).</p>
    <p class="help-block">Alinhe junto ao seu time de vendas quais as propriedades que melhor representam um Lead pronto para venda.</p>
    <p class="help-block">Você também pode utilizar os dados do <%= link_to "Marketing BI", "" %> para descobrir os termos mais relevantes entre os seus clientes para cada propriedade.</p>
  </div>
  <div class="col-xs-9">
    <form class="form-inline">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <h3 class="panel-title">Propriedade</h3>
        </div>
        <div class="col-xs-4">
          <h3 class="panel-title">Peso</h3>
        </div>
        <div class="col-xs-2 text-right">
          <button type="button" class="panel-heading-btn popover-info" data-toggle="modal" data-target="#modalHelpProperty"></button>
        </div>
      </div>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <div class="row">
          <div class="col-xs-6">
            <button type="button" class="btn btn-link btn-lg btn-height-sm" data-toggle="modal" data-target="#modalProperty">Cargo</button>
          </div>
          <div class="col-xs-6">
            <div class="range-slider-group">
              <div class="range-slider-input">
                <input type="range" min="0" max="100" step="1" value="80">
              </div>
              <div class="range-slider-value">
                <span class="slider-value"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-xs-6">
            <button type="button" class="btn btn-link btn-lg btn-height-sm" data-toggle="modal" data-target="#modalProperty">Segmento</button>
          </div>
          <div class="col-xs-6">
            <div class="range-slider-group">
              <div class="range-slider-input">
                <input type="range" min="0" max="100" step="1" value="10">
              </div>
              <div class="range-slider-value">
                <span class="slider-value"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-xs-6">
            <button type="button" class="btn btn-link btn-lg btn-height-sm" data-toggle="modal" data-target="#modalProperty">Tamanho (colaboradores)</button>
          </div>
          <div class="col-xs-6">
            <div class="range-slider-group">
              <div class="range-slider-input">
                <input type="range" min="0" max="100" step="1" value="11">
              </div>
              <div class="range-slider-value">
                <span class="slider-value"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer text-left">
      <div class="row">
        <div class="col-xs-6">
          <a href="#" class="btn-height-sm "><i class="xicon-plus"></i> Adicionar propriedade</a>
        </div>
        <div class="col-xs-6 text-right">
          <span class="btn-height-sm slider-value-total">Total: <span class="text-danger">101%</span></span>
        </div>
      </div>
    </div>
  </div>
</form>
  </div>
</div>




<!-- Modal config property-->
<form class="form-inline">
<div class="modal fade" id="modalProperty" tabindex="-1" role="dialog" aria-labelledby="modalPropertyLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="modalPropertyLabel">Lead Scoring <small>/ Perfil</small></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Propriedade</label>
          <select class="form-control input-sm">
            <option>Cargo</option>
            <option>Segmento</option>
            <option>Tamanho (colaboradores)</option>
          </select>
        </div>
        <span class="inline-help">método</span>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default btn-sm active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> contém
          </label>
          <label class="btn btn-default btn-sm">
            <input type="radio" name="options" id="option2" autocomplete="off"> é igual
          </label>
        </div>

        <div>
          <h4>Definir valor dos termos</h4>
          <div class="form-group">
            <label>termo</label>
            <input class="form-control input-sm" type="text" value="diretor" />
          </div>
          <div class="form-group">
            <label>nota</label>
            <input class="form-control input-sm" type="text" value="8" />
          </div>
          <hr class="spacer-sm" />
          <div class="form-group">
            <label>termo</label>
            <input class="form-control input-sm" type="text" value="CEO" />
          </div>
          <div class="form-group">
            <label>nota</label>
            <input class="form-control input-sm" type="text" value="10" />
          </div>
          <hr class="spacer-sm" />
          <div class="form-group">
            <label>termo</label>
            <input class="form-control input-sm" type="text" value="gerente" />
          </div>
          <div class="form-group">
            <label>nota</label>
            <input class="form-control input-sm" type="text" value="6" />
          </div>
          <hr class="spacer-sm" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Remover propriedade</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar e fechar</button>
      </div>
    </div>
  </div>
</div>
</form>

<!-- Modal help -->
<div class="modal fade" id="modalHelpProperty" tabindex="-1" role="dialog" aria-labelledby="modalHelpPropertyLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="modalHelpPropertyLabel">Lead Scoring <small>/ Perfil</small></h3>
      </div>
      <div class="modal-body">
        <p class="help-block">Grading your inbound leads ensures that the leads being passed from marketing to sales match your company’s ideal customer profile. Leads are automatically evaluated based on a number of implicit factors and assigned a letter grade (A - D).</p>
        <h4>Propriedade</h4>
        <p class="help-block">São as properidades que o Lead possui e que, de acordo com o que foi preenchido, devem determinar o quanto o Lead está pronto para Vendas.</p>
        <h4>Peso</h4>
        <p class="help-block">É o valor referente ao peso que a propriedade terá na definição da nota do perfil do Lead. Quanto maior o peso de uma propriedade, mais relevante ela é na nota final do perfil do Lead (A - D).</p>
        <p class="help-block">Protip: atribua valores baixos para o peso de propriedades com baixa incidência de preenchimento.</p>
        <h4>Termos de uma propriedade</h4>
        <p class="help-block">São os termos que definem o perfil do Lead. Escolha os termos mais comuns dentro da sua base de clientes e alinhe com Vendas quais os valores de cada termo.</p>
        <p class="help-block">Você pode atribuir um valor para o termo baseado também na sua taxa de conversão dentro da sua base de clientes.</p>
      </div>
      <div class="modal-body modal-info">
        <div class="alert alert-info">
          <h4>Exemplo:</h4>
          <p>Digamos que você possua 100 clientes e destes 100, 30 possuem a propriedade "cargo" com o termo "diretor" e 10 com o termo "CEO". São termos bastante comuns dentro de sua base (30% e 10%, respectivamente).</p>
          <p>Agora, analisando sua base inteira de Leads, digamos que a quantidade dos mesmo termos, "diretor" e "CEO", são de 10 mil e 1 mil respectivamente.</p>
          <p>Se calcularmos a taxa de conversão para cada um dos termos (dividindo a quantidade de Clientes pela de Leads e multiplicanto por 100), teremos 0,3% para "diretor" e 1% para "CEO".</p>
          <p>Este é um bom exemplo para mostrar que apesar do termo "diretor" ser o mais comum entre seus clientes, o termo "CEO" "vale" mais, pois possui uma eficácia de conversão maior.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<div class="row hide">
  <div class="col-xs-3">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#">Propriedades</a></li>
      <li role="presentation"><a href="#">Peso das propriedades</a></li>
    </ul>
  </div>
  <div class="col-xs-9">
    <p>Faça uma análise junto à sua base de clientes e duscubra quais os termos mais relevantes</p>
    <form class="form-inline">
      <div class="panel panel-default">
        <div class="panel-filter">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label>Propriedade</label>
                <select class="form-control input-sm" style="width:200px;">
                  <option>cargo</option>
                </select>
              </div>
            </div>
            <div class="col-xs-3">
              <input class="slider" type="range" min="0" max="100" step="1" value="80">

              <div class="form-group hide">
                <label>peso</label>
                <input class="form-control input-sm" style="width:48px;" type="text" value="80"/>
              </div>
              <span class="help-inline btn-height hide">%</span>
            </div>
            <div class="col-xs-3 text-right">
              <a href="#" class="panel-heading-btn action-config btn-height-sm"></a>
              <a href="#" class="panel-heading-btn action-remove btn-height-sm"></a>
            </div>
          </div>
        </div>
        <div class="panel-body">

          <p>Avalie as opções mais relevantes para a propriedade <strong>Cargo</strong></p>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label>Cargo</label>
                <select class="form-control input-sm">
                  <option>contém o</option>
                  <option>é igual ao</option>
                </select>
              </div>
              <div class="form-group">
                <label>termo</label>
                <input class="form-control input-sm" type="text" value="diretor" />
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label>nota</label>
                <input class="form-control input-sm" type="text" value="diretor" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
