<% content_for :header do %>
  <%= stylesheet_link_tag 'dynamic_list' %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag 'data-group' %>
<% end %>

<section id="lead_nurturing" class="container">
  <div class="slats">
  	<div class="slat-group group-flows">
          <article class="slat-group-item flow-card">
            <header class="slat-heading">
              <div class="row">
                <div class="col-xs-11">
                  <h1 class="slat-title"><a href="/automacao-de-marketing/fluxos/855/estatisticas-de-email">sss - Duplicado</a></h1>
                </div>
                <div class="col-xs-1 text-right">
                  <div class="dropdown pull-right">
                    <a class="slat-action" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                      <i class="xicon-cog"></i><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right text-left" role="menu" aria-labelledby="dLabel">
                      <li><a href="/automacao-de-marketing/fluxos/855/estatisticas-de-email" class="" title="Estatísticas">Estatísticas</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/855/edit/configuracoes" title="Configurações">Configurações</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/855/editar" class="" title="Editar">Editar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/855/duplicate" class="duplicate-workflow-link" data-method="post" rel="nofollow" title="Duplicar">Duplicar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/855" class="exclude-workflow-link" data-confirm="Você tem certeza?" data-method="delete" data-remote="true" rel="nofollow" title="Apagar">Apagar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </header>
            <div class="slat-body">
              <div class="row">
                <div class="col-xs-2">
                  <button data-hover="off" data-loading-text="Aguarde..." class="btn btn-default btn-sm button-activation-flow" data-toggle-url="/automacao-de-marketing/fluxos/855/toggle"><span class="button-text active-text">Ativo</span><span class="button-text deactivate-text">Desativar</span><span class="button-text activate-text">Ativar</span></button>
                </div>
                  <div class="col-xs-2">
                    <div class="lg-number">
                      <small>Prioridade</small>
                      <p class="number conversions">0</p>
                    </div>
                  </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Passos</small>
                    <p class="number conversions">2</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Duração</small>
                    <p class="number conversions">14 dias</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Lead ativo</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Completou</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="slat-group-item flow-card">
            <header class="slat-heading">
              <div class="row">
                <div class="col-xs-11">
                  <h1 class="slat-title"><a href="/automacao-de-marketing/fluxos/409/estatisticas-de-email">test NL</a></h1>
                </div>
                <div class="col-xs-1 text-right">
                  <div class="dropdown pull-right">
                    <a class="slat-action" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                      <i class="xicon-cog"></i><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right text-left" role="menu" aria-labelledby="dLabel">
                      <li><a href="/automacao-de-marketing/fluxos/409/estatisticas-de-email" class="" title="Estatísticas">Estatísticas</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/409/edit/configuracoes" title="Configurações">Configurações</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/409/editar" class="" title="Editar">Editar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/409/duplicate" class="duplicate-workflow-link" data-method="post" rel="nofollow" title="Duplicar">Duplicar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/409" class="exclude-workflow-link" data-confirm="Você tem certeza?" data-method="delete" data-remote="true" rel="nofollow" title="Apagar">Apagar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </header>
            <div class="slat-body">
              <div class="row">
                <div class="col-xs-2">
                  <button data-hover="off" data-loading-text="Aguarde..." class="btn btn-default btn-sm button-activation-flow" data-toggle-url="/automacao-de-marketing/fluxos/409/toggle"><span class="button-text active-text">Ativo</span><span class="button-text deactivate-text">Desativar</span><span class="button-text activate-text">Ativar</span></button>
                </div>
                  <div class="col-xs-2">
                    <div class="lg-number">
                      <small>Prioridade</small>
                      <p class="number conversions">0</p>
                    </div>
                  </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Passos</small>
                    <p class="number conversions">3</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Duração</small>
                    <p class="number conversions">8 dias</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Lead ativo</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Completou</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="slat-group-item flow-card">
            <header class="slat-heading">
              <div class="row">
                <div class="col-xs-11">
                  <h1 class="slat-title"><a href="/automacao-de-marketing/fluxos/765/estatisticas-de-email">sss</a></h1>
                </div>
                <div class="col-xs-1 text-right">
                  <div class="dropdown pull-right">
                    <a class="slat-action" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                      <i class="xicon-cog"></i><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right text-left" role="menu" aria-labelledby="dLabel">
                      <li><a href="/automacao-de-marketing/fluxos/765/estatisticas-de-email" class="" title="Estatísticas">Estatísticas</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/765/edit/configuracoes" title="Configurações">Configurações</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/765/editar" class="" title="Editar">Editar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/765/duplicate" class="duplicate-workflow-link" data-method="post" rel="nofollow" title="Duplicar">Duplicar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/765" class="exclude-workflow-link" data-confirm="Você tem certeza?" data-method="delete" data-remote="true" rel="nofollow" title="Apagar">Apagar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </header>
            <div class="slat-body">
              <div class="row">
                <div class="col-xs-2">
                  <button data-hover="off" data-loading-text="Aguarde..." class="btn btn-default btn-sm button-activation-flow" data-toggle-url="/automacao-de-marketing/fluxos/765/toggle"><span class="button-text active-text">Ativo</span><span class="button-text deactivate-text">Desativar</span><span class="button-text activate-text">Ativar</span></button>
                </div>
                  <div class="col-xs-2">
                    <div class="lg-number">
                      <small>Prioridade</small>
                      <p class="number conversions">0</p>
                    </div>
                  </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Passo</small>
                    <p class="number conversions">1</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Duração</small>
                    <p class="number conversions">1 dia</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Lead ativo</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Completou</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="slat-group-item flow-card">
            <header class="slat-heading">
              <div class="row">
                <div class="col-xs-11">
                  <h1 class="slat-title"><a href="/automacao-de-marketing/fluxos/1311/estatisticas-de-email">gdgsajhgsfdkj</a></h1>
                </div>
                <div class="col-xs-1 text-right">
                  <div class="dropdown pull-right">
                    <a class="slat-action" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                      <i class="xicon-cog"></i><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right text-left" role="menu" aria-labelledby="dLabel">
                      <li><a href="/automacao-de-marketing/fluxos/1311/estatisticas-de-email" class="" title="Estatísticas">Estatísticas</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/1311/edit/configuracoes" title="Configurações">Configurações</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/1311/editar" class="" title="Editar">Editar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/1311/duplicate" class="duplicate-workflow-link" data-method="post" rel="nofollow" title="Duplicar">Duplicar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/1311" class="exclude-workflow-link" data-confirm="Você tem certeza?" data-method="delete" data-remote="true" rel="nofollow" title="Apagar">Apagar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </header>
            <div class="slat-body">
              <div class="row">
                <div class="col-xs-2">
                  <button data-hover="off" data-loading-text="Aguarde..." class="btn btn-default btn-sm button-activation-flow" data-toggle-url="/automacao-de-marketing/fluxos/1311/toggle"><span class="button-text active-text">Ativo</span><span class="button-text deactivate-text">Desativar</span><span class="button-text activate-text">Ativar</span></button>
                </div>
                  <div class="col-xs-2">
                    <div class="lg-number">
                      <small>Prioridade</small>
                      <p class="number conversions">0</p>
                    </div>
                  </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Passo</small>
                    <p class="number conversions">1</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Duração</small>
                    <p class="number conversions">1 dia</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Lead ativo</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Completou</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="slat-group-item flow-card">
            <header class="slat-heading">
              <div class="row">
                <div class="col-xs-11">
                  <h1 class="slat-title"><a href="/automacao-de-marketing/fluxos/856/estatisticas-de-email">Com o sucesso do invertedor de links a MV Design disponibiliza o Contador de Caracteres e Palavras. Vários sites bloqueiam certa quantidade de caracter, mas não mostram a quantidade que foi digitada,kj hsjkzhb jkshf jkdshfjkdshjdskhflkdsjf kldsj fkdlsjf k</a></h1>
                </div>
                <div class="col-xs-1 text-right">
                  <div class="dropdown pull-right">
                    <a class="slat-action" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                      <i class="xicon-cog"></i><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right text-left" role="menu" aria-labelledby="dLabel">
                      <li><a href="/automacao-de-marketing/fluxos/856/estatisticas-de-email" class="" title="Estatísticas">Estatísticas</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/856/edit/configuracoes" title="Configurações">Configurações</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/856/editar" class="" title="Editar">Editar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/856/duplicate" class="duplicate-workflow-link" data-method="post" rel="nofollow" title="Duplicar">Duplicar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/856" class="exclude-workflow-link" data-confirm="Você tem certeza?" data-method="delete" data-remote="true" rel="nofollow" title="Apagar">Apagar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </header>
            <div class="slat-body">
              <div class="row">
                <div class="col-xs-2">
                  <button data-hover="off" data-loading-text="Aguarde..." class="btn btn-default btn-sm button-activation-flow" data-toggle-url="/automacao-de-marketing/fluxos/856/toggle"><span class="button-text active-text">Ativo</span><span class="button-text deactivate-text">Desativar</span><span class="button-text activate-text">Ativar</span></button>
                </div>
                  <div class="col-xs-2">
                    <div class="lg-number">
                      <small>Prioridade</small>
                      <p class="number conversions">0</p>
                    </div>
                  </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Passo</small>
                    <p class="number conversions">1</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Duração</small>
                    <p class="number conversions">1 dia</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Lead ativo</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Completaram</small>
                    <p class="number conversions">2</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="slat-group-item flow-card">
            <header class="slat-heading">
              <div class="row">
                <div class="col-xs-11">
                  <h1 class="slat-title"><a href="/automacao-de-marketing/fluxos/974/estatisticas-de-email">oxys tag</a></h1>
                </div>
                <div class="col-xs-1 text-right">
                  <div class="dropdown pull-right">
                    <a class="slat-action" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                      <i class="xicon-cog"></i><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right text-left" role="menu" aria-labelledby="dLabel">
                      <li><a href="/automacao-de-marketing/fluxos/974/estatisticas-de-email" class="" title="Estatísticas">Estatísticas</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/974/edit/configuracoes" title="Configurações">Configurações</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/974/editar" class="" title="Editar">Editar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/974/duplicate" class="duplicate-workflow-link" data-method="post" rel="nofollow" title="Duplicar">Duplicar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/974" class="exclude-workflow-link" data-confirm="Você tem certeza?" data-method="delete" data-remote="true" rel="nofollow" title="Apagar">Apagar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </header>
            <div class="slat-body">
              <div class="row">
                <div class="col-xs-2">
                  <button data-hover="off" data-loading-text="Aguarde..." class="btn btn-default btn-sm button-activation-flow" data-toggle-url="/automacao-de-marketing/fluxos/974/toggle"><span class="button-text active-text">Ativo</span><span class="button-text deactivate-text">Desativar</span><span class="button-text activate-text">Ativar</span></button>
                </div>
                  <div class="col-xs-2">
                    <div class="lg-number">
                      <small>Prioridade</small>
                      <p class="number conversions">0</p>
                    </div>
                  </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Passo</small>
                    <p class="number conversions">1</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Duração</small>
                    <p class="number conversions">1 dia</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Lead ativo</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Completaram</small>
                    <p class="number conversions">2</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="slat-group-item flow-card">
            <header class="slat-heading">
              <div class="row">
                <div class="col-xs-11">
                  <h1 class="slat-title"><a href="/automacao-de-marketing/fluxos/484/estatisticas-de-email">contact site oxys</a></h1>
                </div>
                <div class="col-xs-1 text-right">
                  <div class="dropdown pull-right">
                    <a class="slat-action" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                      <i class="xicon-cog"></i><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right text-left" role="menu" aria-labelledby="dLabel">
                      <li><a href="/automacao-de-marketing/fluxos/484/estatisticas-de-email" class="" title="Estatísticas">Estatísticas</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/484/edit/configuracoes" title="Configurações">Configurações</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/484/editar" class="" title="Editar">Editar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/484/duplicate" class="duplicate-workflow-link" data-method="post" rel="nofollow" title="Duplicar">Duplicar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/484" class="exclude-workflow-link" data-confirm="Você tem certeza?" data-method="delete" data-remote="true" rel="nofollow" title="Apagar">Apagar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </header>
            <div class="slat-body">
              <div class="row">
                <div class="col-xs-2">
                  <button data-hover="on" data-loading-text="Aguarde..." class="btn btn-success btn-sm button-activation-flow active" data-toggle-url="/automacao-de-marketing/fluxos/484/toggle"><span class="button-text active-text">Ativo</span><span class="button-text deactivate-text">Desativar</span><span class="button-text activate-text">Ativar</span></button>
                </div>
                  <div class="col-xs-2">
                    <div class="lg-number">
                      <small>Prioridade</small>
                      <p class="number conversions">0</p>
                    </div>
                  </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Passo</small>
                    <p class="number conversions">1</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Duração</small>
                    <p class="number conversions">1 dia</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Lead ativo</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Completaram</small>
                    <p class="number conversions">6</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="slat-group-item flow-card">
            <header class="slat-heading">
              <div class="row">
                <div class="col-xs-11">
                  <h1 class="slat-title"><a href="/automacao-de-marketing/fluxos/911/estatisticas-de-email">fffff</a></h1>
                </div>
                <div class="col-xs-1 text-right">
                  <div class="dropdown pull-right">
                    <a class="slat-action" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                      <i class="xicon-cog"></i><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right text-left" role="menu" aria-labelledby="dLabel">
                      <li><a href="/automacao-de-marketing/fluxos/911/estatisticas-de-email" class="" title="Estatísticas">Estatísticas</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/911/edit/configuracoes" title="Configurações">Configurações</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/911/editar" class="" title="Editar">Editar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/911/duplicate" class="duplicate-workflow-link" data-method="post" rel="nofollow" title="Duplicar">Duplicar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/911" class="exclude-workflow-link" data-confirm="Você tem certeza?" data-method="delete" data-remote="true" rel="nofollow" title="Apagar">Apagar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </header>
            <div class="slat-body">
              <div class="row">
                <div class="col-xs-2">
                  <button data-hover="off" data-loading-text="Aguarde..." class="btn btn-default btn-sm button-activation-flow" data-toggle-url="/automacao-de-marketing/fluxos/911/toggle"><span class="button-text active-text">Ativo</span><span class="button-text deactivate-text">Desativar</span><span class="button-text activate-text">Ativar</span></button>
                </div>
                  <div class="col-xs-2">
                    <div class="lg-number">
                      <small>Prioridade</small>
                      <p class="number conversions">0</p>
                    </div>
                  </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Passo</small>
                    <p class="number conversions">1</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Duração</small>
                    <p class="number conversions">1 dia</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Lead ativo</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Completaram</small>
                    <p class="number conversions">2</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="slat-group-item flow-card">
            <header class="slat-heading">
              <div class="row">
                <div class="col-xs-11">
                  <h1 class="slat-title"><a href="/automacao-de-marketing/fluxos/719/estatisticas-de-email">oxys contact form</a></h1>
                </div>
                <div class="col-xs-1 text-right">
                  <div class="dropdown pull-right">
                    <a class="slat-action" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                      <i class="xicon-cog"></i><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right text-left" role="menu" aria-labelledby="dLabel">
                      <li><a href="/automacao-de-marketing/fluxos/719/estatisticas-de-email" class="" title="Estatísticas">Estatísticas</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/719/edit/configuracoes" title="Configurações">Configurações</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/719/editar" class="" title="Editar">Editar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/719/duplicate" class="duplicate-workflow-link" data-method="post" rel="nofollow" title="Duplicar">Duplicar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/719" class="exclude-workflow-link" data-confirm="Você tem certeza?" data-method="delete" data-remote="true" rel="nofollow" title="Apagar">Apagar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </header>
            <div class="slat-body">
              <div class="row">
                <div class="col-xs-2">
                  <button data-hover="off" data-loading-text="Aguarde..." class="btn btn-default btn-sm button-activation-flow" data-toggle-url="/automacao-de-marketing/fluxos/719/toggle"><span class="button-text active-text">Ativo</span><span class="button-text deactivate-text">Desativar</span><span class="button-text activate-text">Ativar</span></button>
                </div>
                  <div class="col-xs-2">
                    <div class="lg-number">
                      <small>Prioridade</small>
                      <p class="number conversions">0</p>
                    </div>
                  </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Passo</small>
                    <p class="number conversions">1</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Duração</small>
                    <p class="number conversions">1 dia</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Lead ativo</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Completou</small>
                    <p class="number conversions">1</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="slat-group-item flow-card">
            <header class="slat-heading">
              <div class="row">
                <div class="col-xs-11">
                  <h1 class="slat-title"><a href="/automacao-de-marketing/fluxos/853/estatisticas-de-email">dfgdf - Duplicado</a></h1>
                </div>
                <div class="col-xs-1 text-right">
                  <div class="dropdown pull-right">
                    <a class="slat-action" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                      <i class="xicon-cog"></i><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right text-left" role="menu" aria-labelledby="dLabel">
                      <li><a href="/automacao-de-marketing/fluxos/853/estatisticas-de-email" class="" title="Estatísticas">Estatísticas</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/853/edit/configuracoes" title="Configurações">Configurações</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/853/editar" class="" title="Editar">Editar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/853/duplicate" class="duplicate-workflow-link" data-method="post" rel="nofollow" title="Duplicar">Duplicar</a></li>
                      <li><a href="/automacao-de-marketing/fluxos/853" class="exclude-workflow-link" data-confirm="Você tem certeza?" data-method="delete" data-remote="true" rel="nofollow" title="Apagar">Apagar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </header>
            <div class="slat-body">
              <div class="row">
                <div class="col-xs-2">
                  <button data-hover="off" data-loading-text="Aguarde..." class="btn btn-default btn-sm button-activation-flow" data-toggle-url="/automacao-de-marketing/fluxos/853/toggle"><span class="button-text active-text">Ativo</span><span class="button-text deactivate-text">Desativar</span><span class="button-text activate-text">Ativar</span></button>
                </div>
                  <div class="col-xs-2">
                    <div class="lg-number">
                      <small>Prioridade</small>
                      <p class="number conversions">99</p>
                    </div>
                  </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Passo</small>
                    <p class="number conversions">1</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Duração</small>
                    <p class="number conversions">1 dia</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Lead ativo</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="lg-number">
                    <small>Completou</small>
                    <p class="number conversions">0</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
  	</div>
    <div class="slats-footer">
      <div class="pagination-content"><ul class="pagination pagination"><li class="prev disabled"><span>«</span></li> <li class="active"><span>1</span></li> <li><a rel="next" href="/automacao-de-marketing?pagina=2&amp;per_page=10">2</a></li> <li class="next"><a rel="next" href="/automacao-de-marketing?pagina=2&amp;per_page=10">»</a></li></ul></div>
    </div>
  </div>
</section>
