<% content_for :header do %>
  <%#= stylesheet_link_tag 'landing_pages' %>
<% end %>

<div class="container">
  <span id="js-lp-link"><span class="text-muted" id="js-lp-link">http://pages.rdstation.com.br/68a869e27bc651ade405</span></span>
  <div id="data-wrapper" class="resume"><hr> <div class="row"> 	<div class="col-xs-3"> 		<div class="data-group"> 			<div class="data-group-value size-a">0</div> 			<div class="data-group-label">Visitantes</div> 		</div> 	</div> 	<div class="col-xs-1">     <i class="data-arrow-right"></i>   </div> 	<div class="col-xs-3"> 		<div class="data-group"> 			<div class="data-group-value size-a">0%</div> 			<div class="data-group-label">Taxa de conversão</div> 		</div> 	</div> 	<div class="col-xs-1"> 		<i class="data-arrow-right"></i> 	</div> 	<div class="col-xs-4"> 		<div class="data-group"> 			<div class="data-group-value size-a"> 				<a href="/leads?query=evento%3A%2268a869e27bc651ade405%22" title="Clique aqui para ver sua Base de Leads (CRM)"> 					0 				</a> 			</div> 			<div class="data-group-label">Leads</div> 		</div> 	</div> </div> <hr> </div>
  <div class="row promove">
    <div class="col-xs-6">
      <h4>Promover em Mídias Sociais</h4>
      <a href="/agendamento/novo?content=094+-+Duplicado%3A+http%3A%2F%2Fpages.rdstation.com.br%2F68a869e27bc651ade405" class="btn btn-default" data-remote="true" id="new_post_link" title="Criar nova publicação">Criar nova publicação</a>
    </div>
    <div class="col-xs-6">
      <h4>Promover por email</h4>
      <a href="/campanhas/nova" class="btn btn-default" data-loading-text="Aguarde">Criar nova campanha</a>
    </div>
  </div>
</div>

<!-- $font-size-xsmall: 13px;
$font-size-msmall: -;
$font-size-small:  14px;
$font-size-base:   16px;
$font-size-medium: 18px;
$font-size-large:  20px;
$font-size-mlarge: 27px;
$font-size-xlarge: 32px;


data-group {
  .data-title {
    font-size: $font-size-large; //20
    line-height: 1.8em; //36
    display: inline-block;
  }
  .data-value {
    font-size: $font-size-large; //20
    line-height: 1.8em; //21
    display: inline-block;
    small {
      font-size: $font-size-small;
    }
  }
  .data-label {
    font-size: $font-size-small; //14
    line-height: 1.8em; //15
    display: inline-block;
  }
} -->
