<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      d
    </div>
    <div class="col-xs-6">
      f
    </div>
  </div>
</div>
