<% content_for :header do %>
<% end %>

<% content_for :pagetitle do %>
  home, sweet home
<% end %>

<% content_for :pagesubtitle do %>
<h2><span class="text-muted">Campanha</span> prototipando o rdstation</h2>
<% end %>

<div class="container">

  <form class="form-inline">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-9">
        <h4 class="panel-title">Nonono nono nonononono non</h4>
      </div>
      <div class="col-xs-3 text-right">
        <a href="#" class="panel-heading-btn action-config" ></a>
        <a href="#" class="panel-heading-btn action-remove" ></a>
      </div>
    </div>
  </div>
  <div class="panel-body panel-conditional-flow">
    <div class="rownative" style="margin:0 0 10px 0; border-bottom: 1px solid #eee; padding-bottom:10px;">
      <div class="form-group" style="width:22.93%; margin: 0 10px 0 0;">
        <select class="form-control input-sm" style="width:100%">
          <option>Automação de Marekting</option>
        </select>
      </div>
      <div class="form-group" style="width:22.93%; margin: 0 10px 0 0;">
        <span class="btn-height-sm text-muted text-right">O Lead entrou no fluxo</span>
        <input type="text" class="form-control input-sm hide" value="O Lead entrou no fluxo" disabled />
      </div>
      <div class="form-group" style="width:22.93%; margin: 0 10px 0 0;">
        <select class="form-control input-sm" style="width:100%">
          <option>Nome do luxo</option>
        </select>
      </div>
      <div class="form-group" style="width:22.93%; margin: 0 10px 0 0;">
        <select class="form-control input-sm" style="width:100%">
          <option>clicou</option>
        </select>
      </div>
      <a class="btn-height-sm action-remove" href="#"></a>
    </div>
    <div class="rownative">
      <div class="form-group" style="width:22.93%; margin: 0 10px 0 0;">
        <select class="form-control input-sm" style="width:100%">
          <option>Automação de Marekting</option>
        </select>
      </div>
      <div class="form-group" style="width:22.93%; margin: 0 10px 0 0;">
        <span class="btn-height-sm text-muted text-right">O Lead entrou no fluxo</span>
        <input type="text" class="form-control input-sm hide" value="O Lead entrou no fluxo" disabled />
      </div>
      <div class="form-group" style="width:22.93%; margin: 0 10px 0 0;">
        <select class="form-control input-sm" style="width:100%">
          <option>Nome do luxo</option>
        </select>
      </div>
      <div class="form-group" style="width:22.93%; margin: 0 10px 0 0;">
        <select class="form-control input-sm" style="width:100%">
          <option>clicou</option>
        </select>
      </div>
      <a class="btn-height-sm action-remove" href="#"></a>
    </div>
  </div>
</div>
</form>

</div>
