<% content_for :header do %>
  <%= stylesheet_link_tag 'lead' %>
<% end %>

<% content_for :pagetitle do %>
  home, sweet home
<% end %>

<% content_for :pagesubtitle do %>
<h2><span class="text-muted">Campanha</span> prototipando o rdstation</h2>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      d
    </div>
    <div class="col-xs-6">
      f
    </div>
  </div>
</div>
