<% content_for :header do %>
<% end %>

<% content_for :pagetitle do %>
  home, sweet home
<% end %>

<% content_for :pagesubtitle do %>
<h2><span class="text-muted">Campanha</span> prototipando o rdstation</h2>
<% end %>

<div class="container">

  <form class="form-horizontal">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-9">
            <h4 class="panel-title">Nonono nono nonononono non</h4>
          </div>
          <div class="col-xs-3 text-right">
            <a href="#" class="panel-heading-btn action-config" ></a>
            <a href="#" class="panel-heading-btn action-remove" ></a>
          </div>
        </div>
      </div>
      <div class="panel-body panel-conditional-flow">
        <!-- <h5>Condições para o Lead entrar</h5> -->
        <div class="form-group row-gutter-xs">
          <div class="col-xs-3">
            <select class="form-control input-sm">
              <option>Automação de Marekting</option>
            </select>
          </div>
          <div class="col-xs-3">
            <span class="btn-height-sm text-muted text-right">O Lead entrou no fluxo</span>
            <input type="text" class="form-control input-sm hide" value="O Lead entrou no fluxo" disabled />
          </div>
          <div class="col-xs-3">
            <select class="form-control input-sm">
              <option>Nome do luxo</option>
            </select>
          </div>
          <div class="col-xs-3">
            <select class="form-control input-sm">
              <option>clicou</option>
            </select>
          </div>
        </div>
        <div class="form-group row-gutter-xs">
          <div class="col-xs-3">
            <input type="text" class="form-control input-sm" value="no email" disabled />
          </div>
          <div class="col-xs-3">
            <select class="form-control input-sm">
              <option>nome do email</option>
            </select>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control input-sm" value="no link" disabled />
          </div>
          <div class="col-xs-3">
            <select class="form-control input-sm">
              <option>qualquer link</option>
            </select>
          </div>
        </div>
      <!-- </div>
      <div class="panel-body panel-conditional-flow">
        <h5>Condições para o Lead entrar</h5> -->
        <hr>
        <div class="form-group row-gutter-xs">
          <div class="col-xs-3">
            <select class="form-control input-sm">
              <option>Automação de Marekting</option>
            </select>
          </div>
          <div class="col-xs-3">
            <span class="btn-height text-muted text-right">O Lead entrou no fluxo</span>
            <input type="text" class="form-control input-sm hide" value="O Lead entrou no fluxo" disabled />
          </div>
          <div class="col-xs-3">
            <select class="form-control input-sm">
              <option>Nome do luxo</option>
            </select>
          </div>
          <div class="col-xs-3">
            <select class="form-control input-sm">
              <option>clicou</option>
            </select>
          </div>
        </div>
        <div class="form-group row-gutter-xs">
          <div class="col-xs-3">
            <input type="text" class="form-control input-sm" value="no email" disabled />
          </div>
          <div class="col-xs-3">
            <select class="form-control input-sm">
              <option>nome do email</option>
            </select>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control input-sm" value="no link" disabled />
          </div>
          <div class="col-xs-3">
            <select class="form-control input-sm">
              <option>qualquer link</option>
            </select>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <a href="#" class="btn btn-default btn-sm">Adicionar condição</a>
      </div>
    </div>
  </form>
  <hr>
  <div class="panel panel-default">
    <!-- <div class="panel-body"> -->
      <a href="#" class="btn btn-default">Adicionar condição</a>
    <!-- </div> -->
  </div>
  
</div>
