@import "components/mixins";
@import "components/variables";
@import "components/variables-custom";

@import "components/datepicker";

#social-media-post-image-form { display: none; }

#message-dialog #post_send_at_3i,
#message-dialog #post_send_at_2i,
#message-dialog #post_send_at_1i {
  display : none;
}

#schedule-options-panel .row.form-inline { margin-top: 5px; }

#choose-service-panel .checkbox {
  padding:0;
  margin:0 0 11px 0;
  > label {
    padding:5px 7px;
    display:block;
    background-color: white;
    border: 1px solid $gray-lighter;
    @include border-radius($border-radius-base);
    &#twitter-checkbox-label  { color:$brand-twitter;  border-color:$brand-twitter; }
    &#facebook-checkbox-label { color:$brand-facebook; border-color:$brand-facebook;}
    &#linkedin-checkbox-label { color:$brand-linkedin; border-color:$brand-linkedin;}
    &.selected {
      &#twitter-checkbox-label  { color:white; background-color:$brand-twitter; }
      &#facebook-checkbox-label { color:white; background-color:$brand-facebook; }
      &#linkedin-checkbox-label { color:white; background-color:$brand-linkedin; }
    }
    &.disabled {
      cursor: not-allowed !important;
      background-color: $gray-lighter !important;
      color: $gray-light-medium !important;
      border-color: $gray-lighter !important;
    }
    input[type="checkbox"] {
      display:none;
    }
  }
}
