@import "components/mixins";
@import "components/variables";
@import "components/variables-custom";

@import "components/tinyMCE";
@import "jquery-colorpicker.css";
@import "components/dialog";
@import "compass";

@import "data-tables/jquery.dataTables";
@import "data-tables/dataTables";

@import "email-thumbnails/basic/*.png";
@include all-basic-sprites;

@import "email-thumbnails/thematic/*.png";
@include all-thematic-sprites;

#email-preview {
  overflow: hidden;
  overflow-y: scroll;
  height: 450px;
}
#email-template {
  color: #555555;
  img { width: 90%; }
}

.preview-window {
  height: 450px;
  border: 0;
}
#preview {
  width: 100%;
  height: 100%;
}
