#page-header { display: none; }
.empty-index {
  text-align: center;
  h1 { margin-top: 35px; margin-bottom: 22px; }
  figure { margin: 33px 0; }
  p { color: #848484; }
  .actions, .alert-warning { margin-top: 33px; }
  .lead { margin-bottom: 11px; }
  .small { margin-top: 11px; }
}