@import "components/mixins";
@import "components/variables";
@import "components/variables-custom";

@import "components/breadcrumbs";
@import "components/rangeslider";
@import "components/star-rating";


// range-slider

.range-slider-group {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  .range-slider-input,
  .range-slider-value {
    position: relative;
    min-height: 1px;
    float: left;
  }
  .range-slider-input {
    width: 75%;
    padding: 6px 0;
  }
  .range-slider-value {
    width: 25%;
    text-align: right;
    .slider-value {
      font-size: $font-size-xlarge;
      line-height: 1em;
      color: $gray-light;
      &:after {
        content: "%";
        font-size: $font-size-small;
        color: $gray-light;
        line-height: 1em;
      }
    }
  }
}

.slider-title {
  font-size: $font-size-large;
  line-height: $font-size-xlarge;
  display: block;
}
.slider-value-total {
  font-size: $font-size-small;
  color: $gray-light;
}

// for panels
.panel-leadscoring-scale {
  .quadrant {
    border-left: 1px solid #ddd;
    line-height: ceil(($font-size-base * 3.0000));
    min-height: $font-size-base;
    color: #ccc;
    text-indent: 4px;
  }
  .fit-label {
    line-height: ceil(($font-size-base * 3.0000));
    font-size: $font-size-base;
    color: #ccc;
    font-weight: 200;
  }
}

.panel-scoring-row {
  .fit-label {
    border-radius: 4px 0 0 4px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0px 1px 1px;
    line-height: ceil(($font-size-base * 3.0000));
    font-size: $font-size-xlarge;
    text-align: center;
    color:$gray-light;
    .fit-a {color:#66c366;}
    .fit-b {color:#6cd26c;}
    .fit-c {color:#9ee29e;}
    .fit-d {color:#cccccc;}
  }
  .quadrant {
    border-radius: 0px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0px;
    line-height: ceil(($font-size-base * 3.0000));
    font-size: $font-size-base;
    text-align: left;
    text-indent: 4px;
    height:50px;
    &.quadrant-four {
      border-width: 1px 1px 1px 0;
      border-radius: 0px 4px 4px 0;
    }
  }
  &.fit-a {
    .quadrant-one   {background-color:#e6e6e6; color:rgba(000,000,000,0.25);}
    .quadrant-two   {background-color:#9ee29e; color:rgba(255,255,255,0.75);}
    .quadrant-three {background-color:#6cd26c; color:rgba(255,255,255,0.75);}
    .quadrant-four  {background-color:#66c366; color:rgba(255,255,255,0.75);}
  }
  &.fit-b {
    .quadrant-one   {background-color:#d9d9d9; color:rgba(000,000,000,0.25);}
    .quadrant-two   {background-color:#e6e6e6; color:rgba(000,000,000,0.25);}
    .quadrant-three {background-color:#9ee29e; color:rgba(255,255,255,0.75);}
    .quadrant-four  {background-color:#6cd26c; color:rgba(255,255,255,0.75);}
  }
  &.fit-c {
    .quadrant-one   {background-color:#cccccc; color:rgba(000,000,000,0.25);}
    .quadrant-two   {background-color:#d9d9d9; color:rgba(000,000,000,0.25);}
    .quadrant-three {background-color:#e6e6e6; color:rgba(000,000,000,0.25);}
    .quadrant-four  {background-color:#9ee29e; color:rgba(255,255,255,0.75);}
  }
  &.fit-d {
    .quadrant-one   {background-color:#bfbfbf; color:rgba(000,000,000,0.25);}
    .quadrant-two   {background-color:#cccccc; color:rgba(000,000,000,0.25);}
    .quadrant-three {background-color:#d9d9d9; color:rgba(000,000,000,0.25);}
    .quadrant-four  {background-color:#e6e6e6; color:rgba(000,000,000,0.25);}
  }
}

// add terms
.list-term-group {
  > .list-term-group-item {
    .action-remove { visibility: hidden; }
    &:hover .action-remove { visibility: visible; }
  }
}


.input-daterange .input-group-addon {
width: auto;
min-width: 16px;
padding: 4px 5px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
text-shadow: 0 1px 0 #FFF;
vertical-align: middle;
background-color: #EEE;
border: solid #CCC;
border-width: 1px 0;
margin-left: -5px;
margin-right: -5px;
}

.table-hover > tbody > tr.active > td .progress {
  background-color: #fff;
}

// put in panels
.panel-filter {
  .btn-height-xs,
  .btn-height-sm,
  .btn-height,
  .btn-height-lg { padding: 0 .3333em 0 .6666em; }
}
.panel-footer.text-left { text-align: left; }


// put at icons
button {
  &.popover-info,
  &.action-remove {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none;
    background-image: none;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-appearance: button;
    cursor: pointer;
    text-transform: none;
  }
}

// put at modals

.modal-content { background-color: #f5f5f5; }
.modal-body p + h4 { margin-top: 22px; }
.modal-footer .dropdown-menu { text-align: left; }

// label for rating
.rating-value {
  display: inline-block;
  line-height: 1.428571429;
  padding: 7px 6px;
  vertical-align: middle;
  color: $gray-light;
  margin: 0 0 0 .5em;
  background-color: #f5f5f5;
  width: 2em;
  text-align: center;
  @include border-radius(3px);
}

// rating

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:25px;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:24px;
    line-height:36px;
    color:#ddd;
    margin:0;
    // text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    // text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    // text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    // text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
