@import "components/variables";

h2 { color: $brand-secundary; }
p { color: #a2a2a2; }
figure {
  padding: 33px 0;
  &.open { padding-top: 80px; }
}
.features { padding-top: 40px; }
.home { font-size: 20px; color: #a2a2a2; }
#overview { height: 476px; padding: 0 40px; }
.carousel-indicators {
  bottom: none;
  left: none;
  right: 100px;
  width: auto;
  margin-left: 0px;
  margin-bottom: -69px;
  padding-left: 0px;
  list-style: none;
  text-align: right;
  .visited {
    background-color: #506e84;
  }
}
.carousel-inner {
  height: 100%;
}
.overview-config { margin: 80px; }
.success-icon { font-size: 90px; padding-top: 70px; }
